.dot-nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding-bottom: 27px;
  margin-bottom: 49px;
  border-bottom:2px solid #bfbfbf ;
  a {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
    color: #bfbfbf;
    text-decoration: none;
    @include small_medium{
      font-size: 10px;
      text-align: center;
    }
    @include medium {
      font-size: 14px
    }
    @include prefixer(transition, all 0.3s ease-in-out, webkit o moz);
       &::before{
          @include postionUrl(auto, 0,0, absolute ,url('..//img/home/dot-gray.png'));
          z-index: 1;
          bottom: -40px;
          text-align: center;
           margin: auto;
      }
    &:first-of-type{
      &::before{
          @include postionUrl(auto, 0,0, absolute ,url('..//img/home/dot-blue.png'));
          z-index: 1;
          bottom: -47px;
          text-align: center;
           margin: auto;
      }
    }
    &.active {
      color: $blackColor;
    }
    &:hover {
      color: $blackColor;
    }
  }
    span{
     position: absolute;
      width: 12%;
      bottom: -2px;
      height: 3px;
      background-color:$mainGreenColor;
      left: 0;
    }
}
